spring:
  application:
    name: cpwarehouse
  
  data:
    mongodb:
     uri: ${MONGODB_URI:mongodb://cpwarehouse_user:cpwarehouse_pass@localhost:27017/cpwarehouse?authSource=cpwarehouse}

# SpringDoc OpenAPI configuration
springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    try-it-out-enabled: true
    operations-sorter: method
    tags-sorter: alpha
  show-actuator: false

# Logging
logging:
  level:
    io.github.edmaputra.cpwarehouse: DEBUG
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG
